<%- include("header") -%>

<h1 id="heading">About</h1>

<div class="">
<p>This is a To-Do-List wab app I made from learning about the EJS module. My tutor, Angela Yu is really wonderfull at teaching programming and from the last few months of attending her course I have learned a lot.</p>
</div>

<%- include("footer") -%>